:root {
  --signatureColor: #f78f1b;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
html,
ul {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
}

body {
  font-size: 20px;
  font-family: Lora, "Times New Roman", serif;
  color: #333;
}

::selection {
  color: #fff;
  background: #0085a1;
  text-shadow: none;
}

.header {
  background-color: white;
  color: #777;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
}

.blog__logo {
  padding: 15px 0px;
  font-family: "Kaushan Script", cursive;
  font-weight: 800;
  font-size: 1.25rem;
  color: inherit;
  text-decoration: none;
}

.button__toggle {
  border-color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 800;
  padding: 7px;
  text-transform: uppercase;
  color: #777;
}

.button__hamburger {
  transform: rotate(90deg);
  display: inline-block;
}

.header .navigation {
  width: 90%;
}

.header .blog__logo:hover,
.header .menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  /* display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  place-items: center center;
  margin-top: 10px;
  margin-left: 40%; */
}
.menu__item {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 20px;
}

.menu__item__hide {
  /* display: none; */
  opacity: 0;
  height: 0px;
  -webkit-transition: opacity 600ms,
    height 1000.35ms cubic-bezier(0.4, 0, 1, 1);
  transition: opacity 600ms,
    height 0.35s cubic-bezier(0.4, 0, 1, 1);
}

.menu__item__show {
  /* display: none; */
  opacity: 1;
  height: 130px;
  -webkit-transition: opacity 600ms,
    height 1000.35ms cubic-bezier(0.4, 0, 1, 1);
  transition: opacity 600ms,
    height 0.35s cubic-bezier(0.4, 0, 1, 1);
}



.menu__link {
  color: inherit;
  text-decoration: none;
}

.main {
  background-color: var(--signatureColor);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 50px;
}

.main .blog__title {
  font-size: 80px;
  font-family: "Kaushan Script", cursive;
}

.main .blog__subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post__section {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 15px;
  padding-left: 15px;
  width: 60%;
  max-width: 1140px;
}

.post__section .post__list {
  display: flex;
  flex-direction: column;
}

.post__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post__item .post__detail {
  text-decoration: none;
  color: #333;
}

.post__detail .post__title {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post__detail .post__subtitle {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0 0 10px;
}

.post__detail:hover {
  color: #ff9000;
}

.post__item .post__info {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #777;
}

.post__info a {
  text-decoration: none;
  color: #333;
}

.footer {
  padding: 50px 0 65px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer .footer__content {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 15px;
  padding-left: 15px;
  width: 60%;
  max-width: 1140px;
  text-align: center;
}

.footer .sns__list {
  list-style: none;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
}

.sns__list .sns__item {
  margin-right: 15px;
  margin-left: 15px;
  size: 20px;
}

svg {
  width: 50px;
  height: 50px;
}

.footer svg:hover {
  fill: #ff9000;
}

.copyright {
  font-size: 14px;
  margin: 30px 0;
  color: #868e96 !important;
  font-weight: 400;
}

/* responsive */
@media only screen and (min-width: 992px) {
  .header {
    background-color: var(--signatureColor);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .button__toggle {
    display: none;
  }

  .navigation {
    display: block;
    visibility: visible;
    opacity: 1; 
  }
}
@media only screen and (max-width: 991px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: flex-start;
  }

  .header .blog__logo:hover,
  .header .menu__link:hover {
    color: rgba(3, 3, 3, 0.8);
  }
  /* .navigation {
    /* visibility: visible;
    opacity: 1; */
    /* visibility: hidden;
    opacity: 0;
    height: 0px; */
  } */
}
